# Configurar archivos para usar LF (Unix-style) en lugar de CRLF (Windows-style)
*.js text eol=lf
*.json text eol=lf
*.jsx text eol=lf
src/components/user/ProtectedRoute.jsx -text
src/context/AuthContext.jsx -text




